/* website.css */
/* font-face */
@font-face{
  font-family:'arialnarrow';
  src:url('fonts/arialnarrow.ttf');
  src:url('fonts/arialnarrow.ttf') format('truetype');
}
@font-face{
  font-family:'tempus';
  src:url('fonts/tempus.ttf');
  src:url('fonts/tempus.ttf') format('truetype');
}
@font-face{
  font-family:'arabic';
  src:url('fonts/arabic.ttf');
  src:url('fonts/arabic.ttf') format('truetype');
}
/* reset */
*,*:before,*:after{
  -webkit-box-sizing:border-box;
  -moz-box-sizing:border-box;
  box-sizing:border-box;
}
/* body */
html,body{margin:0px;padding:0px;height:100vh;overflow:hidden;}
body{
  background-color:#333;
  color:#333;
  margin:0px;
  padding:0px;
  font-size:16px;
  font-family:'arialnarrow',system-ui,monospace;
  overflow:hidden;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
select,input,textarea,table,td,button{
  margin:0px;
  padding:0px;
  font-size:16px !important;
  font-weight:normal;
  font-style:normal;
  color:#333;
  overflow-x:hidden;
  font-family:'arialnarrow',system-ui,monospace;
}
select:before{
  font-family:'arialnarrow',system-ui,monospace;
  font-weight:normal;
  color:#333;
}
textarea,input{user-select:initial;-webkit-user-select:initial;}
input:focus,textarea:focus{outline:none;}
input:disabled{opacity:0.8;}
input[type="file"]:disabled{opacity:0;};
input[type="date"]::-webkit-inner-spin-button,
input[type="date"]::-webkit-calendar-picker-indicator{
  display:none;
  appearance:none;
  -webkit-appearance:none;
}
a{text-decoration:none;color:#b37;}
a:hover{color:#b73;}
pre{
  font-family:monospace;
  font-size:11px;
  white-space:pre-wrap;
  background-color:#333;
  color:#ddd;
  margin:0px;
  padding:10px;
}
/* main element */
.main{
  position:fixed;
  display:block;
  z-index:3;
  top:0px;
  left:0px;
  bottom:0px;
  right:0px;
  width:100vw;
  height:100vh;
  overflow:hidden auto;
  transition:all 0.3s ease 0s;
  background-color:transparent;
}
.main-bc{
  position:fixed;
  display:block;
  z-index:2;
  top:0px;
  left:0px;
  bottom:0px;
  right:0px;
  width:100vw;
  height:100vh;
  overflow:hidden auto;
  transition:all 0.3s ease 0s;
  background-color:#fff;
  opacity:0.7;
}
.main-bg{
  position:fixed;
  display:block;
  z-index:1;
  top:0px;
  left:0px;
  bottom:0px;
  right:0px;
  width:100vw;
  height:100vh;
  overflow:hidden auto;
  transition:all 0.3s ease 0s;
  background-size:cover;
  background-position:center center;
  background-repeat:no-repeat;
  background-attachment:fixed;
  background-color:transparent;
  background-image:url('images/default.background.jpg');
}
/* head loader */
.head-loader{
  background-repeat:no-repeat;
  background-position:center center;
  background-size:cover;
  background-color:#eed;
  padding:0px;
  margin:0px;
  line-height:7px;
  height:7px;
  width:100%;
  position:fixed;
  z-index:11;
  top:0px;
  left:0px;
  right:0px;
  display:block;
  overflow:visible;
}
.head-loader-value{
  background-color:#b37;
  padding:0px;
  margin:0px;
  line-height:7px;
  height:7px;
  display:block;
  box-shadow:0px 0px 5px #b37;
  overflow:hidden;
}
.head-loader-text{
  background-color:transparent;
  padding:30px 0px 0px;
  margin:0px;
  position:fixed;
  z-index:10;
  top:0px;
  left:0px;
  right:0px;
  bottom:0px;
  display:block;
  overflow:visible;
  width:100vw;
  height:10px;
  line-height:32px;
  font-size:32px;
  color:#b37;
  text-align:center;
  text-shadow:0px 0px 5px #b37;
}
.head-loader-text:before{
  content:attr(data-text);
}
.head-loader-info{
  background-color:transparent;
  padding:30px 0px 0px;
  margin:0px;
  line-height:100px;
  height:100vh;
  width:100vw;
  position:fixed;
  z-index:10;
  top:0px;
  left:0px;
  right:0px;
  bottom:0px;
  display:block;
  overflow:hidden;
  color:#b37;
  font-size:100px;
  text-align:center;
  text-shadow:0px 0px 5px #b37;
}
.head-loader-info:before{
  content:attr(data-text);
}
/* header */
.header{
  background-image:url('images/default.logo.png');
  background-repeat:no-repeat;
  background-position:10px center;
  background-size:32px 32px;
  background-color:#fff;
  padding:0px;
  margin:0px;
  line-height:42px;
  height:42px;
  width:100%;
  position:fixed;
  z-index:9;
  top:0px;
  left:0px;
  right:0px;
  display:block;
  box-shadow:0px 9px 5px -5px #ddd;
}
.header:before{
  font-family:'tempus',system-ui,monospace;
  text-shadow:2px 2px 2px #777;
  text-align:left;
  vertical-align:top;
  font-size:24px;
  font-weight:bold;
  margin-left:55px;
  color:#b37;
  content:attr(data-name);
  white-space:pre;
}
/* footer */
.footer{
  background-color:#fff;
  padding:15px 0px;
  margin:0px auto;
  display:block;
  box-shadow:0px 0px 5px #ddd;
  text-align:center;
  border-top:1px solid #ddd;
  max-width:480px;
  position:relative;
}
.footer:before{ 
  text-shadow:0px 0px 1px #999;
  text-align:center;
  vertical-align:top;
  font-size:13px;
  color:#555;
  content:attr(data-footer);
  white-space:pre;
}
.foot-content{
  background-color:#eed;
  margin:0px auto;
  max-width:480px;
  padding:20px 0px 0px;
  display:block;
  position:relative;
  box-shadow:0px 0px 5px #ddd;
}
.foot-content-inner{
  display:inline-block;
  vertical-align:top;
  position:relative;
  z-index:1;
  background-color:#fff;
  width:calc(100% - 0px);
  margin:0px 0px 0px 0px;
  padding:10px;
  overflow-x:hidden;
  overflow-y:auto;
  box-shadow:0px -2px 3px #ddd;
  white-space:pre-wrap;
}
.foot-content-inner img{
  max-width:100%;
}
/* body */
.body{
  display:block;
  margin:42px auto 0px;
  padding:0px 0px 0px;
  background-color:transparent;
  max-width:480px;
  min-height:100px;
  overflow-x:hidden;
  overflow-y:hidden;
  position:relative;
  box-shadow:0px 0px 5px #ddd;
}
.body-content{
  display:inline-block;
  vertical-align:top;
  position:relative;
  z-index:1;
  background-color:transparent;
  width:calc(100% - 0px);
  margin:0px 0px 0px 0px;
  padding:10px;
  overflow-x:hidden;
  overflow-y:auto;
  box-shadow:2px 0px 5px #ddd;
}
/* bulk */
.bulk{
  margin:0px;
  padding:10px;
}
.bulk-each{
  margin:0px 0px 10px;
  padding:10px;
  border:1px solid #999;
  border-radius:5px;
  box-shadow:1px 1px 5px #999;
  background-repeat:no-repeat;
  background-position:10px center;
  background-size:32px 32px;
  background-color:transparent;
  position:relative;
  height:70px;
  overflow:hidden;
}
.bulk-each:hover{
  box-shadow:1px 1px 9px #999;
}
.bulk-each-picture{
  position:absolute;
  width:45px;
  height:45px;
  top:10px;
  left:10px;
  background-repeat:no-repeat;
  background-position:center top;
  background-size:auto 45px;
  background-color:transparent;
  background-image:url('images/default.thumbnail.png');
  overflow:hidden;
}
.bulk-each-title{
  font-size:22px;
  margin-left:55px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 1; /* number of lines to show */
          line-clamp: 1; 
  -webkit-box-orient: vertical;
}
.bulk-each-time{
  font-style:italic;
  color:#777;
  margin-left:55px;
}
.bulk-hide{
  height:0px;
  margin:0px;
  padding:0px;
  border:0px none;
  border-radius:0px;
  box-shadow:0px 0px 0px #999;
}
.bulk-each-down{
  margin:0px 0px 10px;
  padding:10px;
  border:1px solid #999;
  border-radius:5px;
  box-shadow:1px 1px 5px #999;
  background-repeat:no-repeat;
  background-position:10px center;
  background-size:32px 32px;
  background-color:transparent;
  position:relative;
  height:77px;
  line-height:50px;
  overflow:hidden;
  text-align:center;
}
.bulk-each-down:hover{
  box-shadow:1px 1px 9px #999;
}
.bulk-button:focus{background-color:#915;outline:none;}
.bulk-button:hover{background-color:#a26;}
.bulk-button{
  background-color:#b37;
  padding:9px 15px;
  border:0px none;
  color:#fff;
  margin:0px 0px;
  border-radius:3px;
  cursor:default;
  transition:all 0.3s ease 0s;
  box-shadow:1px 1px 3px #777;
  outline:none;
  font-weight:bold;
}
/* page */
.page{
  margin:0px 0px 10px;
  padding:10px;
  border:1px solid #999;
  border-radius:5px;
  box-shadow:1px 1px 5px #999;
}
.page-title{
  font-size:32px;
  font-weight:bold;
  color:#b37;
  margin:10px 0px;
}
.page-time{
  font-style:italic;
  color:#777;
}
.page-picture{
  overflow:hidden;
  margin:0px;
  padding:0px;
  text-align:center;
}
.page-picture img{
  max-width:100%;
  margin:10px 0px 0px;
}
.page-content{
  margin:10px 0px;
  white-space:pre-wrap;
  word-wrap:break-word;
  word-break:break-word;
}
.page-down{
  margin:0px 0px 10px;
  padding:10px;
  border:1px solid #999;
  border-radius:5px;
  box-shadow:1px 1px 5px #999;
  text-align:center;
  font-weight:bold;
}
.page-content-loader{
  margin:10px 0px;
  padding:30px 0px;
  white-space:pre-wrap;
  text-align:center;
}
.page-content-loader img{
  margin-right:10px;
}
.arabic{
  direction:rtl;
  font-family:'arabic';
  font-size:22px;
  color:#555;
}
/* animation */
.blink{
  -webkit-animation:fade 700ms infinite;
  animation:fade 700ms infinite;
}
@keyframes fade{
  from{
      opacity:1;
  }
  50%{
      opacity:0.4;
  }
  to{
      opacity:1;
  }
}
@-webkit-keyframes fade{
  from{
      opacity:1;
  }
  50%{
      opacity:0.4;
  }
  to{
      opacity:1;
  }
}
/* profile */
.author-profile{
  margin:0px;
  padding:0px;
}
.author-profile-picture{
  background-repeat:no-repeat;
  background-position:center center;
  background-size:200px 200px;
  background-color:#333;
  width:200px;
  height:200px;
  border:1px solid #ddd;
  border-radius:100px;
  overflow:hidden;
  display:inline-block;
  margin:0px 20px 20px 0px;
  padding:0px;
}
.author-profile-picture:before{
  content:"9r3i";
  font-family:'tempus',system-ui,monospace;
  text-shadow:2px 2px 2px #fff;
  text-align:center;
  vertical-align:middle;
  line-height:24px;
  font-size:24px;
  font-weight:bold;
  color:#333;
  white-space:pre;
  margin:150px 0px 0px 120px;
  padding:0px;
  position:absolute;
}
.author-profile-info{
  display:inline-block;
  vertical-align:top;
  padding:0px;
  margin:0px 0px 20px 0px;
  width:calc(100% - 220px);
}
/* media screen */
@media screen and (min-width:520px){
  .footer{
    max-width:1000px;
  }
  .foot-content{
    max-width:1000px;
  }
  .body{
    max-width:1000px;
    min-height:300px;
  }
}
/* ============ kitchen set ============ */
/* kitchen */
.kitchen-login{
  position:relative;
  display:block;
  background-color:transparent;
  height:auto;
  width:320px;
  padding:0px;
  margin:10px auto;
  transition:all 0.3s ease 0s;
  font-size:16px;
  box-shadow:0px 0px 2px 0px #bbb;
  border:1px solid #ddd;
  border-radius:11px;
  overflow:hidden;
}
.kitchen-login-head{
  text-align:center;
  font-size:32px;
  font-weight:bold;
  margin:0px;
  padding:30px 10px;
  color:#b37;
}
.kitchen-login-head:before{
  content:attr(data-head);
}
.kitchen-login-body{
  padding:0px 20px;
  margin:0px;
}
.kitchen-login-body button{
  margin:5px auto;
}
.kitchen-login-foot{
  text-align:center;
  font-size:16px;
  margin:0px;
  padding:25px 10px 35px;
  color:#555;
}
.kitchen-login-foot:before{
  content:attr(data-foot);
}
.kitchen-login-input{
  width:calc(100% - 0px);
  font-size:16px;
  border:1px solid #ddd;
  border-radius:5px;
  margin:3px auto 10px;
  padding:7px 13px;
  color:#333;
  font-weight:normal;
  background-color:transparent;
}
.kitchen-login-shake{
  animation:kitchenloginshake 300ms;
}
@keyframes kitchenloginshake{
  0%{left:-5px;}
  25%{left:5px;}
  50%{left:-5px;}
  75%{left:5px;}
  100%{left:0px;}
}
.kitchen-row{
  margin:0px 0px 0px;
  padding:10px;
}
.kitchen-row button{
  margin-right:5px;
}
.kitchen-row-option{
  margin:0px 0px 0px;
  padding:0px 0px 0px;
  text-align:right;
  width:70px;
  position:absolute;
  right:10px;
  top:10px;
  background-color:transparent;
}
.kitchen-row-option button{
  margin:0px 0px 5px 5px;
}
.kitchen-data{
  margin:0px;
  padding:10px;
}
.kitchen-data-each{
  margin:0px 0px 10px;
  padding:10px;
  border:1px solid #999;
  border-radius:5px;
  box-shadow:1px 1px 5px #999;
  background-repeat:no-repeat;
  background-position:10px center;
  background-size:32px 32px;
  background-color:transparent;
  position:relative;
  height:auto;
  min-height:80px;
  overflow:hidden;
}
.kitchen-data-each:hover{
  box-shadow:1px 1px 9px #999;
}
.kitchen-data-each-picture{
  position:absolute;
  width:45px;
  height:45px;
  top:10px;
  left:10px;
  background-repeat:no-repeat;
  background-position:center top;
  background-size:auto 45px;
  background-color:transparent;
  background-image:url('images/default.thumbnail.png');
  overflow:hidden;
}
.kitchen-data-each-title{
  font-size:18px;
  margin:0px 85px 0px 55px;
  background-color:transparent;
}
.kitchen-data-each-time{
  font-style:italic;
  color:#777;
  margin:0px 85px 0px 55px;
}
.kitchen-data-form{
  margin:10px auto;
  padding:10px;
  position:relative;
}
.kitchen-data-form button{
  margin:0px 5px 0px 0px;
}
.kitchen-input-title{
  width:calc(100% - 0px);
  font-size:16px;
  border:1px solid #ddd;
  border-radius:5px;
  margin:3px auto 10px;
  padding:7px 13px;
  color:#333;
  font-weight:normal;
  background-color:transparent;
}
.kitchen-input-content{
  width:calc(100% - 0px);
  font-size:16px;
  border:1px solid #ddd;
  border-radius:5px;
  margin:3px auto 10px;
  padding:7px 13px;
  color:#333;
  font-weight:normal;
  background-color:transparent;
  min-height:200px;
  resize:vertical;
}
.kitchen-input-file-fake:before{
  content:"Click here or drag an image here.";
}
.kitchen-input-file-fake{
  width:calc(100% - 0px);
  font-size:16px;
  border:1px solid #ddd;
  border-radius:5px;
  margin:3px auto 10px;
  padding:20px 13px;
  color:#333;
  font-weight:normal;
  background-color:transparent;
  text-align:center;
  height:60px;
}
.kitchen-input-file{
  width:calc(100% - 20px);
  font-size:16px;
  border:1px solid #ddd;
  border-radius:5px;
  margin:3px auto 10px;
  padding:20px 13px;
  color:#333;
  font-weight:normal;
  background-color:#ddd;
  height:60px;
  opacity:0;
  position:absolute;
  margin-top:-70px;
}
.kitchen-input-file-preview{
  width:calc(100% - 0px);
  font-size:16px;
  border:1px solid #ddd;
  border-radius:5px;
  margin:3px auto 10px;
  padding:0px;
  color:#333;
  font-weight:normal;
  background-color:transparent;
  text-align:center;
  vertical-align:middle;
  overflow:hidden;
}
.kitchen-input-file-preview img{
  max-width:100%;
}
/* button */
.button:focus{background-color:#bba;outline:none;}
.button:hover{background-color:#ccb;}
.button{
  background-color:#ddc;
  padding:5px 11px;
  border:0px none;
  color:#333;
  margin:0px 0px;
  border-radius:3px;
  cursor:default;
  transition:all 0.3s ease 0s;
  box-shadow:1px 1px 3px #777;
  outline:none;
  font-weight:bold;
}
.button-blue:focus{background-color:#159;}
.button-blue:hover{background-color:#26a;}
.button-blue{color:#fff;background-color:#37b;}
.button-soft-green:focus{background-color:#591;}
.button-soft-green:hover{background-color:#6a2;}
.button-soft-green{color:#fff;background-color:#7b3;}
.button-orange:focus{background-color:#951;}
.button-orange:hover{background-color:#a62;}
.button-orange{color:#fff;background-color:#b73;}
.button-red:focus{background-color:#a11;}
.button-red:hover{background-color:#b22;}
.button-red{color:#fff;background-color:#c33;}
.button-yellow:focus{background-color:#aa1;}
.button-yellow:hover{background-color:#bb2;}
.button-yellow{color:#fff;background-color:#cc3;}
.button-purple:focus{background-color:#519;}
.button-purple:hover{background-color:#62a;}
.button-purple{color:#fff;background-color:#73b;}
.button-pink:focus{background-color:#915;}
.button-pink:hover{background-color:#a26;}
.button-pink{color:#fff;background-color:#b37;}
.button-tosca:focus{background-color:#195;}
.button-tosca:hover{background-color:#2a6;}
.button-tosca{color:#fff;background-color:#3b7;}
.button-violet:focus{background-color:#a1a;}
.button-violet:hover{background-color:#b2b;}
.button-violet{color:#fff;background-color:#c3c;}
.button-light-blue:focus{background-color:#1aa;}
.button-light-blue:hover{background-color:#2bb;}
.button-light-blue{color:#fff;background-color:#3cc;}
.button-dark-blue:focus{background-color:#11a;}
.button-dark-blue:hover{background-color:#22b;}
.button-dark-blue{color:#fff;background-color:#33c;}
.button-green:focus{background-color:#1a1;}
.button-green:hover{background-color:#2b2;}
.button-green{color:#fff;background-color:#3c3;}
.button:disabled{
  background-color:#ddc;
  color:#333;
  opacity:0.8;
}
/* select */
.select:focus{background-color:#bba;outline:none;}
.select:hover{background-color:#ccb;}
.select:disabled{opacity:0.8;}
.select{
  background-color:#ddc;
  padding:5px 15px;
  border:0px none;
  color:#333;
  margin:0px 0px;
  border-radius:3px;
  cursor:default;
  transition:all 0.3s ease 0s;
  box-shadow:1px 1px 3px #777;
  outline:none;
  font-weight:normal;
  -webkit-appearance:none;
  -moz-appearance:none;
  appearance:none;
}
