/* cleanjelly.css */
@font-face{font-family:'Fira Sans Ultra';src:url('fonts/fira-sans.ultra.ttf');}
a{color:#37b;}
a:hover{color:#73b;}
.page-title{
  color:#37b;
}
.main-bc{
  opacity:0.9;
}
.main-bg{
  background-image:url('images/default.background.jpg');
}
.header{
  background-image:url('images/default.logo.png');
  background-color:#fd5;
}
.header:before{
  font-family:'Fira Sans Ultra',Neuropol,Tahoma;
  text-shadow:3px 3px 1px #159;
  text-align:left;
  vertical-align:top;
  font-size:20px;
  margin-left:52px;
  color:#fff;
  content:"Sabun";
  white-space:pre;
}
.header:after{
  font-family:'Fira Sans Ultra',Neuropol,Tahoma;
  text-shadow:3px 3px 1px #159;
  text-align:left;
  vertical-align:top;
  font-size:20px;
  margin-left:0px;
  color:#db3;
  content:"Jelly";
  white-space:pre;
}
.footer{
  background-color:#fd5;
  color:#159;
}
.bulk-button:focus{background-color:#159;outline:none;}
.bulk-button:hover{background-color:#26a;}
.bulk-button{
  background-color:#37b;
}

/* plugins override */
.visitor{
  color:#37b;
  box-shadow:inset 0px 0px 10px #37b;
  text-shadow:0px 0px 1px #37b;
}
.site-fanpage-title{
  background-color:#159;
}
.site-account-title{
  background-color:#159;
}
.site-address{
  background-color:#159;
}
.site-others-each-title{
  background-color:#159;
}
.site-links-each-title{
  background-color:#159;
}
.site-social-title{
  background-color:#159;
}
.site-others-each-content div:hover{
  background-color:#dde;
}
.site-links-each-content div:hover{
  background-color:#dde;
}
.site-social-content-each:hover{
  background-color:#dde;
}
..menu-button-strip{
  background-color:#37b;
}
.menu-button:hover > .menu-button-strip{
  background-color:#59d;
}
.menu .menu-each:hover{
  background-color:#dde;
  color:#555;
  padding:0px 8px 0px 10px;
}
.menu-overflow .menu-each:hover{
  background-color:#dde;
  color:#555;
  padding:13px 12px 13px 14px;
}
.like{
  background-color:#37b;
  background:#37b;
  background:-moz-linear-gradient(top, #48c 1%, #37b 100%);
  background:-webkit-gradient(linear, left top, right top, color-stop(1%, #48c), color-stop(100%, #37b));
  background:-webkit-linear-gradient(top, #48c 1%, #37b 100%);
  background:-o-linear-gradient(top, #48c 1%, #37b 100%);
  background:-ms-linear-gradient(top, #48c 1%, #37b 100%);
  background:linear-gradient(to bottom, #48c 1%, #37b 100%);
  filter:progid:DXImageTransform.Microsoft.gradient( startColorstr='#48c', endColorstr='#37b',GradientType=1 );
}
.like:hover{
  background-color:#26a;
  background:#26a;
  background:-moz-linear-gradient(top, #37b 1%, #26a 100%);
  background:-webkit-gradient(linear, left top, right top, color-stop(1%, #37b), color-stop(100%, #26a));
  background:-webkit-linear-gradient(top, #37b 1%, #26a 100%);
  background:-o-linear-gradient(top, #37b 1%, #26a 100%);
  background:-ms-linear-gradient(top, #37b 1%, #26a 100%);
  background:linear-gradient(to bottom, #37b 1%, #26a 100%);
  filter:progid:DXImageTransform.Microsoft.gradient( startColorstr='#37b', endColorstr='#26a',GradientType=1 );
}
.liked{
  background-color:#159;
}
.sharer-header{
  box-shadow:0px 3px 5px -2px #37b;
  background-color:#37b;
}
.sharer-each:hover{
  background-color:#dde;
}
#sharer{
  background-color:#37b;
  background:#37b;
  background:-moz-linear-gradient(top, #48c 1%, #37b 100%);
  background:-webkit-gradient(linear, left top, right top, color-stop(1%, #48c), color-stop(100%, #37b));
  background:-webkit-linear-gradient(top, #48c 1%, #37b 100%);
  background:-o-linear-gradient(top, #48c 1%, #37b 100%);
  background:-ms-linear-gradient(top, #48c 1%, #37b 100%);
  background:linear-gradient(to bottom, #48c 1%, #37b 100%);
  filter:progid:DXImageTransform.Microsoft.gradient( startColorstr='#48c', endColorstr='#37b',GradientType=1 );
}
#sharer:hover{
  background-color:#26a;
  background:#26a;
  background:-moz-linear-gradient(top, #37b 1%, #26a 100%);
  background:-webkit-gradient(linear, left top, right top, color-stop(1%, #37b), color-stop(100%, #26a));
  background:-webkit-linear-gradient(top, #37b 1%, #26a 100%);
  background:-o-linear-gradient(top, #37b 1%, #26a 100%);
  background:-ms-linear-gradient(top, #37b 1%, #26a 100%);
  background:linear-gradient(to bottom, #37b 1%, #26a 100%);
  filter:progid:DXImageTransform.Microsoft.gradient( startColorstr='#37b', endColorstr='#26a',GradientType=1 );
}
