/* reset.css */
a{color:#b37;}
.page-title{
  color:#b37;
}
.main-bc{
  opacity:0.9;
}
.main-bg{
  background-image:url('../../css/images/default.background.jpg');
}
.header{
  background-image:url('../../css/images/default.logo.png');
  background-color:#fff;
}
.header:before{
  font-family:'tempus',system-ui,monospace;
  text-shadow:2px 2px 2px #777;
  text-align:left;
  vertical-align:top;
  font-size:24px;
  font-weight:bold;
  margin-left:55px;
  color:#b37;
  content:attr(data-name);
  white-space:pre;
}
.header:after{
  font-family:'tempus',system-ui,monospace;
  text-shadow:3px 3px 1px #915;
  text-align:left;
  vertical-align:top;
  font-size:20px;
  margin-left:0px;
  color:#db3;
  content:"";
  white-space:pre;
}
.footer{
  background-color:#fff;
  color:#333;
}
.bulk-button:focus{background-color:#915;outline:none;}
.bulk-button:hover{background-color:#a26;}
.bulk-button{
  background-color:#b37;
}

/* plugins override */
.visitor{
  color:#b37;
  box-shadow:inset 0px 0px 10px #b37;
  text-shadow:0px 0px 1px #b37;
}
.site-fanpage-title{
  background-color:#b37;
}
.site-account-title{
  background-color:#b37;
}
.site-address{
  background-color:#b37;
}
.site-others-each-title{
  background-color:#b37;
}
.site-links-each-title{
  background-color:#b37;
}
.site-social-title{
  background-color:#b37;
}
.site-others-each-content div:hover{
  background-color:#edd;
}
.site-links-each-content div:hover{
  background-color:#edd;
}
.site-social-content-each:hover{
  background-color:#edd;
}
..menu-button-strip{
  background-color:#b37;
}
.menu-button:hover > .menu-button-strip{
  background-color:#d59;
}
.menu .menu-each:hover{
  background-color:#edd;
  color:#555;
  padding:0px 8px 0px 10px;
}
.menu-overflow .menu-each:hover{
  background-color:#edd;
  color:#555;
  padding:13px 12px 13px 14px;
}
.like{
  background-color:#b37;
  background:#b37;
  background:-moz-linear-gradient(top, #c48 1%, #b37 100%);
  background:-webkit-gradient(linear, left top, right top, color-stop(1%, #c48), color-stop(100%, #b37));
  background:-webkit-linear-gradient(top, #c48 1%, #b37 100%);
  background:-o-linear-gradient(top, #c48 1%, #b37 100%);
  background:-ms-linear-gradient(top, #c48 1%, #b37 100%);
  background:linear-gradient(to bottom, #c48 1%, #b37 100%);
  filter:progid:DXImageTransform.Microsoft.gradient( startColorstr='#c48', endColorstr='#b37',GradientType=1 );
}
.like:hover{
  background-color:#a26;
  background:#a26;
  background:-moz-linear-gradient(top, #b37 1%, #a26 100%);
  background:-webkit-gradient(linear, left top, right top, color-stop(1%, #b37), color-stop(100%, #a26));
  background:-webkit-linear-gradient(top, #b37 1%, #a26 100%);
  background:-o-linear-gradient(top, #b37 1%, #a26 100%);
  background:-ms-linear-gradient(top, #b37 1%, #a26 100%);
  background:linear-gradient(to bottom, #b37 1%, #a26 100%);
  filter:progid:DXImageTransform.Microsoft.gradient( startColorstr='#b37', endColorstr='#a26',GradientType=1 );
}
.liked{
  background-color:#915;
}
.sharer-header{
  box-shadow:0px 3px 5px -2px #b37;
  background-color:#b37;
}
.sharer-each:hover{
  background-color:#dde;
}
#sharer{
  background-color:#b37;
  background:#b37;
  background:-moz-linear-gradient(top, #c48 1%, #b37 100%);
  background:-webkit-gradient(linear, left top, right top, color-stop(1%, #c48), color-stop(100%, #b37));
  background:-webkit-linear-gradient(top, #c48 1%, #b37 100%);
  background:-o-linear-gradient(top, #c48 1%, #b37 100%);
  background:-ms-linear-gradient(top, #c48 1%, #b37 100%);
  background:linear-gradient(to bottom, #c48 1%, #b37 100%);
  filter:progid:DXImageTransform.Microsoft.gradient( startColorstr='#c48', endColorstr='#b37',GradientType=1 );
}
#sharer:hover{
  background-color:#a26;
  background:#a26;
  background:-moz-linear-gradient(top, #b37 1%, #a26 100%);
  background:-webkit-gradient(linear, left top, right top, color-stop(1%, #b37), color-stop(100%, #a26));
  background:-webkit-linear-gradient(top, #b37 1%, #a26 100%);
  background:-o-linear-gradient(top, #b37 1%, #a26 100%);
  background:-ms-linear-gradient(top, #b37 1%, #a26 100%);
  background:linear-gradient(to bottom, #b37 1%, #a26 100%);
  filter:progid:DXImageTransform.Microsoft.gradient( startColorstr='#b37', endColorstr='#a26',GradientType=1 );
}
